html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: darkgrey;
}

#content {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
    height: 100%;
}

#board {
    background-color: black;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    display: none;
}

/* all board cells have .square */
.square {
    border: 2px solid grey;
    background-color: darkseagreen;
    text-align: center;
    color: black;
}

#players, #players > tr > td, #players > tr > th {
    border: 1px solid black;
}

.placeholder {
    font-style: italic;
    color: grey;
}

#clueContainer, #clueForm, #guessesContainer, #turnContainer, #stopGuessing {
    display: none;
}

#newGame {
    background-color: lightblue;
}

#notifications {
    background-color: orange;
}

#notifications > * {
    border: 1px solid black;
}

#notifications > :last-child {
    background-color: orangered;
}

.blue {
    background-color: dodgerblue;
}

.red {
    background-color: red;
}

.grey {
    background-color: dimgrey;
}

.black {
    background-color: black;
    color: white;
}