html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#board {
    background-color: black;
    position: absolute;
    top: 350px;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    display: none;
}

/* all board cells have .square */
.square {
    border: 2px solid grey;
    background-color: seagreen;
    padding: 30px;
    text-align: center;
    color: black;
}

#players, #players > tr > td, #players > tr > th {
    border: 1px solid black;
}

.placeholder {
    font-style: italic;
    color: lightgrey;
}

#clueForm {
    display: none;
}

#clueContainer {
    display: none;
}

#notification {
    background-color: orange;
    width: 100%;
}