@(webSocketUrl: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://cdn.jsdelivr.net/npm/jquery@@3.4.1/dist/jquery.min.js" type="text/javascript"></script>
        <title>Codewords Game</title>
        <script id="game-script" src="@routes.Assets.versioned("javascripts/game.js")" ws-url="@webSocketUrl"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/game.css")">
    </head>
    <body>
        <h1>Game</h1>
        <button type="button" id="newGame">New Game</button>
        <div id="notification"></div>
        <table id="board"></table>
        <table id="players"></table>
        <div id="turnContainer">Turn: <span id="turn">waiting...</span></div>
        <div id="clueContainer">Clue: <span id="clueDisplay">waiting...</span></div>
        <div id="guessesContainer">Guesses remaining: <span id="guessesDisplay">waiting...</span></div>
        <button type="button" id="stopGuessing">Stop Guessing</button>
        <form id="clueForm">
            <label for="clue">Clue:</label>
            <input type="text" id="clue" name="clue">
            <label for="number">Number:</label>
            <input type="text" id="number" name="number">
            <button type="button" id="submitClue" >Submit Clue</button>
        </form>
    </body>
</html>
